/* About me */
.title {
  width: 70%;
  margin: 0px auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

.title h1 {
  font-family: "signika-regular";
  font-size: 45px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.title h2 {
  font-size: 25px;
  color: gray;
  margin-top: 5px;
  margin-bottom: 5px;
}

.about {
  width: 70%;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 23px;
}

.about h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.about p {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: justify;
  font-weight: lighter;
}
